.hero-child {
  width: 1369px;
  height: 412px;
  position: relative;
  background: linear-gradient(270deg, #6ec1e4);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.hero-item {
  width: 1800px;
  height: 268px;
  position: absolute;
  margin: 0 !important;
  right: -540px;
  bottom: 0;
  object-fit: contain;
  z-index: 1;
}
.g8-icon {
  height: 50px;
  width: 50px;
}
.g8-icon,
.mindfulcare {
  position: relative;
}
.g8-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.home {
  font-weight: 600;
}
.about,
.home,
.page,
.services {
  height: 27px;
  position: relative;
  display: inline-block;
}
.home-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  max-width: 100%;
  font-size: 18px;
  font-family: Poppins;
}
.see-detail {
  align-self: stretch;
  position: relative;
}
.button {
  height: 60px;
  border-radius: 30px;
  background-color: #ec744a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 50px;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 22px;
}
.frame-parent {
  width: 1596px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  z-index: 2;
  font-size: 28px;
}
.about-us,
.lorem-ipsum-dolor {
  position: relative;
  display: inline-block;
}
.about-us {
  height: 93px;
  font-weight: 800;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  height: 54px;
  font-size: 18px;
  font-family: Poppins;
}
.about-us-parent {
  width: 1173px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  max-width: 100%;
  z-index: 3;
}
.doctor-schedule-background,
.hero-inner {
  width: 5px;
  position: relative;
  background-color: #fff;
}
.hero-inner {
  height: 328px;
  display: none;
  z-index: 4;
}
.doctor-schedule-background {
  height: 151px;
  z-index: 3;
}
.jadwal-dokter1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  z-index: 2;
}
.jadwal-dokter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 29px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 25px);
}
.doctor-schedule,
.doctor-schedule-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.doctor-schedule-inner {
  width: 557px;
  justify-content: space-between;
  gap: 20px;
}
.doctor-schedule {
  width: 805px;
  justify-content: center;
}
.hero,
.jadwal-dokter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero {
  align-self: stretch;
  background: linear-gradient(270deg, #6ec1e4);  
  padding: 19px 30px 66px;
  box-sizing: border-box;
  gap: 82px;
  max-width: 100%;
  text-align: left;
  font-size: 68px;
  color: #eef7ff;
  font-family: Manrope;
}
.jadwal-dokter {
  width: 100%;
  background: #6ec1e4;
  overflow: hidden;
  gap: 103px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .frame-parent {
    flex-wrap: wrap;
  }
  .about-us,
  .jadwal-dokter1 {
    font-size: 54px;
  }
}
@media screen and (max-width: 750px) {
  .hero {
    gap: 41px;
  }
  .jadwal-dokter {
    gap: 51px;
  }
}
@media screen and (max-width: 450px) {
  .mindfulcare {
    font-size: 22px;
  }
  .home-parent {
    flex-wrap: wrap;
  }
  .about-us,
  .jadwal-dokter1 {
    font-size: 41px;
  }
  .hero {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 43px;
    box-sizing: border-box;
  }
  .jadwal-dokter {
    gap: 26px;
  }
}
/* Tambahkan kode CSS berikut di bawah CSS yang telah ada */



.doctor-card {
  background-color: #eef7ff;
}
