.daftar2 {
    margin: 0;
    position: relative;
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 62px;
    font-weight: 600;
    font-family: Poppins;
    color: #090914;
    text-align: left;
  }
  .daftar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 6px;
  }
  .silahkan-atur-akun {
    flex: 1;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-family: Poppins;
    color: #52525b;
    text-align: left;
    display: inline-block;
    max-width: 100%;
  }
  .silahkan-atur-akun-anda-wrapper {
    width: 473px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 6px 5px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .bg2,
  .nama {
    position: relative;
    font-size: 30px;
  }
  .nama {
    width: 54px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #090914;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .bg2 {
    border: 1px solid #000;
    outline: 0;
    background-color: #fff;
    align-self: stretch;
    height: 48px;
    border-radius: 12px;
    box-sizing: border-box;
    min-width: 250px;
  }
  .email,
  .email-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .email {
    flex: 1;
    flex-direction: column;
    gap: 4px;
  }
  .email-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 5px;
    box-sizing: border-box;
  }
  .alamat-email1,
  .bg3 {
    position: relative;
    z-index: 1;
    font-size: 30px;
  }
  .alamat-email1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #090914;
    text-align: left;
    display: inline-block;
    min-width: 115px;
  }
  .bg3 {
    border: 1px solid #000;
    outline: 0;
    background-color: #fff;
    align-self: stretch;
    height: 48px;
    border-radius: 12px;
    box-sizing: border-box;
    min-width: 250px;
  }
  .alamat-email-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 3px;
    gap: 4px;
  }
  .kata-sandi1 {
    width: 100px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #090914;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .bg4,
  .password {
    align-self: stretch;
    font-size: 30px;
  }
  .bg4 {
    border: 1px solid #000;
    outline: 0;
    background-color: #fff;
    height: 48px;
    position: relative;
    border-radius: 12px;
    box-sizing: border-box;
    min-width: 250px;
  }
  .password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
  }
  .konfirmasi-kata-sandi {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #090914;
    text-align: left;
  }
  .bg5 {
    border: 1px solid #000;
    outline: 0;
    background-color: #fff;
    align-self: stretch;
    height: 48px;
    position: relative;
    border-radius: 12px;
    box-sizing: border-box;
    min-width: 250px;
    font-size: 30px;
  }
  .input,
  .input-wrapper,
  .password1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .password1 {
    align-self: stretch;
    flex-direction: column;
    gap: 4px;
  }
  .input,
  .input-wrapper {
    max-width: 100%;
  }
  .input {
    flex: 1;
    flex-direction: column;
    gap: 20px;
  }
  .input-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 15px 6px;
    box-sizing: border-box;
  }
  .button-name1 {
    position: relative;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 28px;
    font-weight: 600;
    font-family: Poppins;
    color: #fff;
    text-align: center;
    display: inline-block;
    min-width: 51px;
  }
  .iconoutlinearrow-right1 {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon1 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-name-parent,
  .buttonprimarywith-icon1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-name-parent {
    gap: 9px;
  }
  .buttonprimarywith-icon1 {
    cursor: pointer;
    border: 0;
    padding: 13.5px 54.5px;
    background-color: #6ec1e4;
    border-radius: 9px;
  }
  .sudah-punya-akun {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-family: Poppins;
    color: #64748b;
    text-align: left;
  }
  .buttonprimarywith-icon-parent,
  .frame-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  .buttonprimarywith-icon-parent {
    padding: 0 20px 0 0;
  }
  .frame-parent {
    margin: 0;
    width: 532px;
    max-width: calc(100% - 783px);
    flex-shrink: 0;
  }
  .bg-icon1 {
    margin-top: -31px;
    height: 683px;
    flex: 1;
    position: relative;
    max-width: calc(100% - 612px);
    overflow: hidden;
    object-fit: cover;
  }
  .daftar1 {
    width: 1369px;
    height: 681px;
    background-color: #eef7ff;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 29px 1px 0 53px;
    box-sizing: border-box;
    gap: 80px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1025px) {
    .frame-parent {
      max-width: 100%;
    }
    .bg-icon1 {
      display: none;
    }
  }
  @media screen and (max-width: 975px) {
    .daftar2 {
      font-size: 42px;
      line-height: 50px;
    }
    .frame-parent {
      display: none;
    }
    .bg-icon1 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 725px) {
    .daftar1 {
      gap: 40px;
      padding-left: 26px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .daftar2 {
      font-size: 31px;
      line-height: 37px;
    }
    .daftar1 {
      gap: 20px;
    }
  }
  