.kami-membantu-orang {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.placeholder-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 2px 16px 2px 16px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.gangguan-tidur {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  justify-content: center;
}
.gangguan-tidur-wrapper,
.placeholder-icon-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gangguan-tidur-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 40px 0 30px;
  align-items: center;
  justify-content: center;
}
.placeholder-icon-parent {
  height: 336px;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}
.placeholder-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 4px 60px 4px 60px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bipolar {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 108px;
}
.bipolar-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 10px;
  align-items: center;
  justify-content: center;
}
.placeholder-icon-group {
  height: 341px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.rectangle-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 4px 60px 4px 60px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kecemasan-umum {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.kecemasan-umum-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding:0 20px 0 30px;;
  align-items: center;
  justify-content: center;
}
.frame-parent7,
.rectangle-parent4 {
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent4 {
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.frame-parent7 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  grid-template-columns: repeat(3, minmax(295px, 1fr));
  font-size: 26px;
  font-family: 'Inria Serif', serif;
}
.frame-section,
.kami-membantu-orang-orang-ya-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.kami-membantu-orang-orang-ya-parent {
  flex: 1;
  flex-direction: column;
  gap: 10px;
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  padding: 0 30px 110px;
  box-sizing: border-box;
  text-align: left;
  font-size: 58px;
  color: #000;
  font-family: "Font Name";
}
@media screen and (max-width: 1050px) {
  .kami-membantu-orang {
    font-size: 38px;
  }
  .bipolar,
  .gangguan-tidur,
  .kecemasan-umum {
    font-size: 28px;
  }
  .frame-parent7 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(295px, 511px));
  }
}
@media screen and (max-width: 750px) {
  .frame-parent7 {
    gap: 20px;
    grid-template-columns: minmax(295px, 1fr);
  }
  .kami-membantu-orang-orang-ya-parent {
    gap: 120px;
  }
  .frame-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 640px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kami-membantu-orang {
    font-size: 40px;
  }
  .gangguan-tidur {
    font-size: 20px;
  }
  .gangguan-tidur-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .bipolar,
  .kecemasan-umum {
    font-size: 20px;
  }
  .kecemasan-umum-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .kami-membantu-orang-orang-ya-parent {
    gap: 40px;
  }
}

